$red1: #ff473a;
$red2: #ff635c;
$red3: #ffc8c3;
$red4: #f36d56;
$yellow1: #ffa200;
$yellow2: #fc9d30;
$yellow3: #ffdc4f;
$yellow4: #ffe8db;
$yellow5: #fffae3;
$yellow6: #f6f1db;
$black1: #000;
$black2: #333;
$black3: #666;
$black4: #999;
$black5: #898989;
$black6: #c2c2c2;
$black7: #f2f2f2;
$black8: #989898;
$black9: #f0f2f5;
$black10: #dfdbdb;
$white: #fff;

.highlight {
  color: $yellow2;
}
